<div class="manageraddons helpbox">
    <h1>Keyboard shortcuts | <a href="javascript:jQuery.HideBox();void(0);" class="manageraddons-close">${Close} (ESC)</a></h1>

    <table border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td>
                <table border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td></td>
                            <td class="manager-addons-title">${Navigation}</td>
                        </tr>
                        <tr>
                            <td class="manager-addons-command">g <span class='mini'>+</span> h : </td>
                            <td>${go home}</td>
                        </tr>
                        <tr>
                            <td class="manager-addons-command">g <span class='mini'>+</span> p : </td>
                            <td>${go to profile}</td>
                        </tr>
                        <tr>
                            <td class="manager-addons-command">g <span class='mini'>+</span> s : </td>
                            <td>${go to scrapbook}</td>
                        </tr>
                        <tr>
                            <td class="manager-addons-command">g <span class='mini'>+</span> c : </td>
                            <td>${go to communities}</td>
                        </tr>
                        <tr>
                            <td class="manager-addons-command">g <span class='mini'>+</span> u : </td>
                            <td>${go to my updates}</td>
                        </tr>
                        <tr>
                            <td class="manager-addons-command">g <span class='mini'>+</span> o : </td>
                            <td>${go to conversations}</td>
                        </tr>
                        <tr>
                            <td class="manager-addons-command">g <span class='mini'>+</span> r : </td>
                            <td>${go to reminders}</td>
                        </tr>
                        <tr>
                            <td class="manager-addons-command">g <span class='mini'>+</span> b : </td>
                            <td>${go to birthdays}</td>
                        </tr>
                        <tr>
                            <td class="manager-addons-command">g <span class='mini'>+</span> f : </td>
                            <td>${go to photos}</td>
                        </tr>
                        <tr>
                            <td class="manager-addons-command">g <span class='mini'>+</span> v : </td>
                            <td>${go to videos}</td>
                        </tr>
                        <tr>
                            <td class="manager-addons-command">g <span class='mini'>+</span> t : </td>
                            <td>${go to testimonials}</td>
                        </tr>
                        <tr>
                            <td class="manager-addons-command">g <span class='mini'>+</span> a : </td>
                            <td>${go to applications}</td>
                        </tr>
                        <tr>
                            <td class="manager-addons-command">g <span class='mini'>+</span> m : </td>
                            <td>${go to promote}</td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td>
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td></td>
                        <td class="manager-addons-title">${Commands}</td>
                    </tr>
                    <tr>
                        <td class="manager-addons-command">r : </td>
                        <td>${reply}</td>
                    </tr>
                    <tr>
                        <td class="manager-addons-command">Ctrl ← : </td>
                        <td>${first page}</td>
                    </tr>
                    <tr>
                        <td class="manager-addons-command">← : </td>
                        <td>${previous page}</td>
                    </tr>
                    <tr>
                        <td class="manager-addons-command">→ : </td>
                        <td>${next page}</td>
                    </tr>
                    <tr>
                        <td class="manager-addons-command">Ctrl → : </td>
                        <td>${last page}</td>
                    </tr>
                    <tr>
                        <td class="manager-addons-command">Ctrl b : </td>
                        <td>${bold}</td>
                    </tr>
                    <tr>
                        <td class="manager-addons-command">Ctrl i : </td>
                        <td>${italic}</td>
                    </tr>
                    <tr>
                        <td class="manager-addons-command">Ctrl u : </td>
                        <td>${underline}</td>
                    </tr>
                    <tr>
                        <td class="manager-addons-command">? : </td>
                        <td>${show this window}</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>